<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Music Library</title>
</head>
<body>
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24"><path fill="currentColor" d="M18 1.83c-.5 0-1 .17-1.41.58L8 11l1.5 1.5L6 16H4l-2 4l2 2l4-2v-2l3.5-3.5L13 16l8.59-8.59c.62-.91.78-2.04 0-2.82l-2.18-2.18A1.95 1.95 0 0 0 18 1.83M18 4l2 2l-7 7l-2-2l7-7Z"/></svg>
         {{ PROGRAM_NAME }} - Music Index </h1>
    <ul><p><b>Note:</b> This webpage is mainly for checking your music is present and formatted correctly or checking the server is operating correctly. Listening to music on here is not an ideal experience but is possible. A list of clients can be found <a href="https://github.com/Supersonic-Music/Supersonic-Server#clients">here</a>.</p></ul>
    <br>
    <h2>Stats</h2>
    <h3>Collection Stats</h3>
    <ul style="border-width: 0.2rem; border-radius: 10px; border-style: solid; display: inline-block; width: 30rem;">
        <b><li><p>Number of Artists:<i class="num"> {{ number_of_artists }}</i></p></li></b>
        <b><li><p>Number of Albums:<i class="num"> {{ number_of_albums }}</i></p></li></b>
        <b><li><p>Number of Songs:<i class="num"> {{ number_of_songs }}</i></p></li></b>
    </ul>
    <h3>Lightyear Stats</h3>
    <ul class="gradient-border" style="border-width: 0.2rem; border-radius: 10px; border-style: solid; display: inline-block; width: 30rem;">
        <b><li><p>Songs Listened to:~<i class="num">{{ lightyear_songs_listened_to }}</i></p></li></b>
        <b><li><p>Artists Listened to:~<i class="num">{{ lightyear_artists_listened_to }}</i></p></li></b>
        <b><li><p>Albums Listened to:~<i class="num">{{ lightyear_albums_listened_to }}</i></p></li></b>
        <a class="backbutton" href="/lightyear/"><b>More Stats...</b></a>
        <br>
    </ul>
    <h2>Artists</h2>
    <ul>
        <li><a href="http://localhost:4321"><b>Open Web Player</b></a></li>
        {% for artist in artists %}
            <li><a href="/{{ artist }}">{{ artist }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
